body{
    background-color: pink;
    font-family: sans-serif, Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
ul, ol {
    display: inline-block;
    text-align: left;
}
h1, h2 {
    text-decoration: underline;
}
h2{
    box-sizing: border-box;
    background-color:rgb(91, 206, 250);
    margin: auto 275px;
}