body{
    background-color: pink;
    font-family: sans-serif, Georgia, 'Times New Roman', Times, serif;
}
.btn{
    display: inline-block;
    background-color: rgb(91, 206, 250);
    border: 3px solid black;
    color: black;
    padding: 25px 50px;
}
.topbtn{
    padding-left: 96px;
}
.botbtn{
    padding-left: 127px;
    padding-right: 127px;
}
p{
    text-align: center;
}
h1{
    text-align: center;
}